/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 11, 2018, 9:41:56 AM
    Author     : ds0987450
*/
/* Style the links inside the navigation bar */
.topnav a {
  float: none;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: black;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: purple;
  color: whitesmoke;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: purple;
}
/* Create a sticky/fixed navbar */
.topnav {
  text-align: center; 
  overflow: hidden;
  background-color: grey;
  padding: 22px 20px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99; 
}
/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 380px) {
  .topnav {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
}
 /*About section css*/
.Aboutsec{
    padding-top: 10%;
    color: purple;
    text-align: center; 
}